# NOTE! Please use 'git ls-files -i --exclude-standard'

*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# Ignore all root-directory invidisble files
.*

# These will be stored in the repository.
!.gitignore
!.clangd